* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url(../fonts/OptimaNovaLTProRegular.otf) format('opentype');
    font-weight: 400;    
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url(../fonts/OptimaNovaLTProMedium.otf) format('opentype');
    font-weight: 500;    
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url(../fonts/OptimaNovaLTProBold.otf) format('opentype');
    font-weight: 800;    
}

main {
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../assets/hero.png) ; 
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 530px;
    position: relative;
}

.container {
    max-width: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapp {
    width: 40%;
    margin-bottom: 30px;
}

h2 {
    color: #000;
    font-family: "Optima LT Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%; /* 28.5px */
}

h1 {
    color: #000;
    font-family: "Optima LT Pro";
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    letter-spacing: 0.43px;
    margin-top:10px;
}

.main-text {
    color: #000;
    font-family: "Optima LT Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 111%; /* 17.76px */
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    width: 293px;
    height: 61.777px;
    flex-shrink: 0;
    background: #917236;
    color: #FFF;
    text-align: center;
    font-family: "Optima LT Pro";
    font-size: 33.536px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 41.585px */
    border: none;
    cursor: pointer;
}

.wrapp-link {
    display: flex;
    width: 181.126px;
    height: 74px;
    transform: rotate(-19.802deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-right:-15px;
}

.link-main {
    color: #000;
    text-align: center;
    font-family: "Optima LT Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    text-decoration: none;/* 28.6px */
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapp-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.paragraph {
    color: #511716;
    text-align: center;
    font-family: "Optima LT Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 37.2px */
}

.title-text{
    color: #511716;
    text-align: center;
    font-family: "Optima LT Pro";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 47.12px */
    margin-top:60px;
}

.container-flex-icons {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    width:100%;
}

.line {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-icon {
    color: #000;
    font-family: "Optima LT Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 37.2px */
    width:359px;
    margin-left:40px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
}

.section-bg {
    background-image: url(../assets/bjloja.png) ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 545px ;
}

h3 {
    color: #FFF;
    font-family: "Optima LT Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 49.6px */
    letter-spacing: -0.8px;
    margin-bottom: 70px;
}

.paragraph-img {
    color: #FFF;
    text-align: center;
    font-family: "Optima LT Pro";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 43.4px */
    letter-spacing: -0.7px;
    margin-bottom:70px;
}

footer {
    position: relative;
    background-image: url('../assets/footer.png'); /* Substitua pelo caminho correto do seu background */
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta o fundo para cobrir o footer */
    background-position: bottom center; /* Centraliza o fundo na parte inferior */
    height: 1200px; /* Ajuste a altura do footer conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center; /* Garante que o conteúdo seja alinhado na parte inferior */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

.container-footer {
    max-width: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container-footer img {
  max-width: 526px; /* Ajuste o tamanho da imagem para não extrapolar o layout */  
  bottom: 20px; /* Define a distância da parte inferior */ 
}

.wrapp-text-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width:50%;
}

.title {
    color: #511716;
    font-family: "Optima LT Pro";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 47.12px */
    margin-bottom:5px;
}

.description {
    color: #511716;
    font-family: "Optima LT Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 32.24px */
    margin-bottom: 35px;
}

.line-footer {
    margin-top:30px;
}

@media (max-width: 390px) {
    main {
        background-image: url(../assets/hero-mobile.jpg) ; 
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 380px;
    }

    .wrapp {
    width: 65%;
    
}

h2 {
        color: #000;
font-family: "Optima LT Pro";
font-size: 13.752px;
font-style: normal;
font-weight: 500;
line-height: 95%; /* 13.065px */
}

h1 {
    color: #000;
font-family: "Optima LT Pro";
font-size: 19.712px;
font-style: normal;
font-weight: 700;
line-height: 95%;
letter-spacing: 0.197px;
}

.main-text {
    color: #000;
font-family: "Optima LT Pro";
font-size: 9px;
font-style: normal;
font-weight: 500;
line-height: 111%; /* 9.99px */
}

button {
    width: 134.313px;
height: 28.319px;
flex-shrink: 0;
    background: #917236;
    color: #FFF;
text-align: center;
font-family: "Optima LT Pro";
font-size: 15.373px;
font-style: normal;
font-weight: 700;
line-height: 124%; /* 19.063px */
    border: none;
    cursor: pointer;
}

.wrapp-link {
    display: flex;
width: 100px;
height: 100px;
transform: rotate(-21.244deg);
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}

.link-main {
    color: #000;
text-align: center;
font-family: "Optima LT Pro";
font-size: 10.02px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 11.022px */
    text-decoration: none;/* 28.6px */
    margin-right:20px;
    margin-top:20px;
}

.wrapp-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.paragraph {
    color: #511716;
text-align: center;
font-family: "Optima LT Pro";
font-size: 10.415px;
font-style: normal;
font-weight: 500;

}

.title-text{
    color: #511716;
text-align: center;
font-family: "Optima LT Pro";
font-size: 13.192px;
font-style: normal;
font-weight: 700;
 
}

.container-flex-icons {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width:100%;
}

.line {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.line img {
    width:110px;
}

.text-icon {
    color: #000;
text-align: center;
font-family: "Optima LT Pro";
font-size: 12.005px;
font-style: normal;
font-weight: 700;

margin-left:0px;
margin-top:20px;
}

.section-bg {
    background-image: url(../assets/bg-mobile.png) ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 354px ;
}

h3 {
    color: #FFF;
text-align: center;
font-family: "Optima LT Pro";
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 124%; /* 26.04px */
letter-spacing: -0.42px;
}

.paragraph-img {
    color: #FFF;
text-align: center;
font-family: "Optima LT Pro";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 124%; /* 22.32px */
letter-spacing: -0.36px;
}
}